* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* ----------------
!!!! André !!!! 
----------------*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-left: 50px;
}
.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 7px);
}
.hamburger.is-active::after {
  transform: rotate(45deg) translate(-8px, -8px);
}
.hamburger.hamburger.is-active .bar {
  opacity: 0;
}

/* ----------------
!!!! Ilakia !!!!
-------------------- */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin: 20px;
  background-color: rgb(188, 139, 139);
  border-radius: 10px;
  padding: 30px;
}

#input {
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 30px;
  height: 2.5em;
  width: 250px;
  padding-left: 20px;
}
.btn {
  margin: 20px;
  border-style: solid;
  background-color: aquamarine;
  border-radius: 4px;
  height: 44px;
  font-weight: 600;
  padding: 0 30px;
  letter-spacing: 1px;
  border: none;
  color: black;
}
.btn:hover {
  color: aqua;
}
#todo {
  color: black;
  font-size: 28px;
  margin-top: 10px;
}

#todo p {
  margin: 10px 0px;
}

#todo p:hover {
  cursor: pointer;
}

/* ----------------
!!!! Alexander !!!! 
----------------*/

#todo-form-error {
  color: red;
  min-height: 5px;
}

.todo-item {
  background-color: #ccc;
  min-height: 5px;
  display: flex;
  justify-content: space-between;
}
