* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

/* ---------------------
!!!! Style - General!!!! 
----------------------*/
:root {
  --Background: #f5e8ba;
  --Background-app: aquamarine;
  --Text: black;
  --btn: #ffeba7;
  --btn-hover: #b4a676;
  --btn-Text: #102770;
}
.hamburger,
#add,
.btn,
.navbar a {
  cursor: pointer;
  background-color: var(--btn);
}
.navbar a:hover,
#add:hover,
#todo p:hover,
.btn:hover {
  background-color: var(--btn-hover);
}
body,
header,
main,
aside {
  display: flex;
  flex-direction: column;
  width: 400px;
}
header,
main,
aside {
  background-color: var(--Background-app);
  padding: 10px 20px;
}
body {
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: var(--Background);
  border-radius: 10px;
  padding: 30px;
}
#add,
.btn,
input,
.navbar.is-active,
.navbar a {
  border-radius: 5px;
}
/* ----------------
!!!! Header !!!! 
----------------*/
header {
  border-radius: 10px 10px 0px 0px;
}
#header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* Nav menu */
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-left: 50px;
}
.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--btn);
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 7px);
}
.hamburger.is-active::after {
  transform: rotate(45deg) translate(-8px, -8px);
}
.hamburger.hamburger.is-active .bar {
  opacity: 0;
}
/* -----------------
!!! Nav menue !!!
-------------------- */
.navbar {
  position: fixed;
  display: block;
  width: 20%;
  left: 100%;
  height: 250px;
  top: 0;
  text-align: center;
  transition: 0, 4s;
}
.navbar.is-active {
  margin-top: 100px;
  left: 965px;
  background-color: lightgray;
  padding-top: 5px;
  max-width: 10%;
  border-radius: 5px;
}
.navbar a {
  display: block;
  width: 90px;
  margin: auto auto 16px;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}
#dev-git {
  font-weight: bolder;
}
/* ----------------
!!!! Main !!!!
-------------------- */
input {
  border: 2px solid black;
  margin-top: 30px;
  height: 2.5em;
  width: 250px;
  padding-left: 10px;
}

#add,
.btn {
  height: 44px;
  font-weight: 600;
  padding: 0 30px;
  border: none;
}
#todo {
  font-size: 28px;
}

#todo p {
  margin: 20px 0px;
  border-radius: 5px;
  padding-left: 5px;
}
/* ----------------
!!!! Aside !!!! 
----------------*/
aside {
  border-radius: 0px 0px 10px 10px;
}
#todo-form-error {
  color: red;
  min-height: 5px;
}

.todo-item {
  background-color: #ccc;
  min-height: 5px;
  display: flex;
  justify-content: space-between;
}
